
.dijitPopup {
	margin: 0;
	padding: 0;
	position: absolute;
	border: 0;
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 50px black;
}
.mblReset {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: normal;
	font: inherit;
	color: inherit;
}
.mblComboBoxMenu {
	border: 1px solid black;
	background-color: white;
	overflow-y: hidden !important;
}
.mblComboBoxMenuItemSelected {
	
	background-color: black;
	background: -webkit-gradient(linear, left top, left bottom, from(#048BF4), to(#005CE5));
	color: white;
}
.mblComboBoxMenuItem {
	text-align: left;
	white-space: nowrap;
	padding: .1em .2em;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #ffffff;
}
.mblComboBoxMenuPreviousButton,
.mblComboBoxMenuNextButton {
	font-style: italic;
}
.dijitPopup {
	-webkit-box-shadow: none;	
	-webkit-border-radius: 12px;
}
.mblComboBoxMenu {
	-webkit-border-radius: 12px;
	background-color: black;
}
.mblComboBoxMenuItemSelected {
	background: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
}
.mblComboBoxMenuItem {
	border-color: black;
	color: white;
}
